
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Anton&family=Bebas+Neue&family=Oswald&family=Roboto+Condensed&display=swap');



.container{
    margin-bottom: 50px;
}
.background{
    background-image: url(img/bg.png);
    height: 650px;
  margin-bottom: 50px ;
   
}
.nav-link{
   color:#3d2514;
   
}
nav li a{
    font-size: 25px;
    font-weight: 500;
    letter-spacing: 4px;
    line-height: 30px;
    font-family: 'Bebas Neue',sans-serif;
    color: #3d2514;
    margin-left: 50px;
}
.burger{
    color:#3d2514;
    font-family: 'Bebas Neue', cursive;
    font-size: 24px;
    font-weight: 600;
}
.nav-link:hover{
    color: #3d2514;
}
.logo{
  margin-top: 120px;
    max-width: 100%;
    height: auto;
   
}
.special{
    font-size: 95px;
    text-shadow: 4px 5px #fee7ba;
    color: #3d2514;
    font-weight: 500;
  letter-spacing: 5px;
  margin-left: 50px;
  line-height: 80px;
    font-family: 'Alfa Slab One', cursive;
  
}
.special2{
    font-size: 45px;
    text-shadow: 4px 5px #fee7ba;
    color: #3d2514;
    font-weight: 400;
    letter-spacing: 5px;
    font-family: 'Alfa Slab One', cursive;
    margin-left: 50px;
    line-height: 80px;
}
.special3{
    font-family: 'Bebas Neue', cursive;
    margin-left: 50px;
    color: #3d2514;
    font-size: 24px;
    font-weight: 500;
   border-radius: 3px;
    padding: 12px 18px 8px;
    border:2px dashed #3d2514; ;
    display: inline-block;
}
.mejaj{
  margin: 0;
    padding: 0;
}
.write{
    
    margin-top: 250px;
    
}
.pic1{
    background-image: url(img/b1.png);
    width: 100%;
    height: 372px;
    padding-left: 20px;
    padding-top: 20px;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
}
.pic2{
    background-image: url(img/s1.png);
      width: 100%;
    height: 200px;
    padding-left: 20px;
    padding-top: 20px;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 10px;
}
.pic3{
    background-image: url(img/s2.png);
      width: 100%;
    height: 200px;
    padding-left: 20px;
    padding-top: 20px;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 10px;
}
.fnt{
    color: white;
    font-family: 'Bebas Neue', cursive;
}
.pera{
    display: flex;
   
    align-items: center;
    justify-content: center;
}
.always{
    text-align: center;
    padding-top: 10px ;
    padding-bottom: 10;
    padding-left: 25px;
    padding-right: 25px;
    color: white;
    background-color: red;
    
    font-size: 22px;
    font-family: 'Bebas Neue', cursive;
}
.chill{
    display: flex;
   
    align-items: center;
    justify-content: center; 
}
.enjoy{
    text-align: center;
    padding-top: 10px ;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 25px;
    color: #3d2514;
    font-weight: 700;
    font-size: 50px;
    font-family: 'Alfa Slab One', cursive;
    letter-spacing: 3px;
    line-height: normal;
}
.lorem{
    padding-right: 80px;
    padding-left: 80px;
    text-align: center;
    font-size: 15px;
    color: #3d2514;
}
.order{
    border: none;
    background-color: rgb(230, 27, 27);
    padding-top: 10px ;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    color: white;
    font-size: 20px;
    font-family: 'Bebas Neue', cursive;
    margin-bottom: 20px;
}
.card-border{
    border: none;
    box-shadow: 10px 10px 15px lightgrey;
}
.blck_burger{
    width: 100%;
   
}
.combo{
    padding-left: 25px;
    padding-top: 55px;
    
}
.upcomming{
    font-family: 'Alfa Slab One', cursive;
    color: #3d2514;
    font-size: 42px;
    font-weight: 500;
    line-height: normal;
}
.blck{
    font-family: 'Alfa Slab One', cursive;
    font-size: 42px;
    font-weight: 500;
    color: #3d2514;
    line-height: normal;
}
.ipsum{
    font-size: 21px;
    line-height: 33px;
    padding-left: 0;
    color: #3d3d3d;
   
}
.rifat{
    margin-bottom: 200px;
    box-shadow: 10px 10px 10px lightgrey;
}
.reservation{
    text-align: center;
    padding-top: 10px ;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 25px;
    color: #3d2514;
    font-weight: 700;
    font-size: 25px;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 3px;
   line-height: normal;
}

.burger1{
    max-width: 50%;
    height: auto;
    margin-left: 0;
    margin-bottom: 25px;
   
   
}
.first{
    padding: 0;
    margin-right: 0;
    margin-left: auto;
    display: block;
    vertical-align: middle;
    
}
.last{
    padding: 0;
    margin-right: 0;
    
}
.burger2{
    max-width: 100%;
    height: auto;
    margin-right: 0;
   margin-top: 250px;

   
}
.sos{
    max-width: 50%;
    height: auto;
    margin-left: 42px;
    margin-bottom: 25px;
   
}
 .form-control{
    color: #3d3d3d;
    height: 65px;
    font-size: 21px;
    font-family: 'Bebas Neue',sans-serif;
    display: block;
    width: 100%;
    margin-bottom: 30px;
    font-weight: 400;
    line-height: 1.5;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}
.submit{
    background-color: red;
    color: white;
    font-family: 'Alfa Slab One', cursive;
    font-size: 24px;
    letter-spacing: 1px;
}
#reservation1{
  margin-bottom: 20px;
}
footer{
    background: url(img/footer-bg.jpg) no-repeat center center;
    width: 100%;
    height: 550px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 10px;
    position: relative;
    
}

footer:after {
    content: "";
    /* background-color: rgba(33, 33, 33,.7); */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.footer-logo{
    
}
.house{
    color: white;
    font-size: 50px;
    font-family: 'Bebas Neue',sans-serif;
   
   margin-left: 20px;  
 }
.footer1{
    padding-top: 80px;
    margin-left: 50px;
    display: flex;
   justify-content: center;
   align-items: center;
   width: 350px;
}
.jayed{
    font-size: 18px;
    line-height: 28px;
    color: white;
   margin-left: 50px;
   margin-top: 50px;
}
.location{
    width: 50px;
    height: 50px;
}
.location2{
    color: white;
    font-size: 20px;
}
.inbox{
    width: 50px;
    height: 50px; 
}
.inbox2{
    color: white;
    font-size: 20px; 
}
.reserved{
    margin-left: 50px;
  margin-top: 130px;
    color: white;
}
.address{
    font-size: 22px;
    margin-top: 5px;
    font-weight: 500;
    line-height: 28px;
    font-family: 'Bebas Neue',sans-serif;
    color: #ffff;
}